/* Navbar */
a{
    text-decoration: none;
    display: inline;
    list-style: none;
    float: right;
    border: solid 2px rgb(185, 218, 233);
    background-image: url(IMG_20190915_171913.jpg);
    font-size: 20px;
    margin: 30px 70px;
    padding: 3px 20px;
    color: rgb(185, 218, 233);
}
.Navbar {
    width: 100%;
    background-image: url(desk-white-black-header-1.jpg);
    background-color: black;
    margin:0px;
    padding: 0;
}
.Navbar-menu{
    padding: 20px 30px 20px 40px;
    margin: 0;
}
.menu {
    width: 80%;
    background-color: rgb(185, 218, 233);
    border: solid 2px rgb(185, 218, 233);
    text-align: center;
    margin: auto;
}
body {
    background-image: url(template\ queen.jpg);
    padding: 0;
    margin: 0;
}

/* Profile */
.foto{
    border: solid 2px rgb(185, 218, 233)
    margin: 30px 150px;
    padding: 15px 30px 15px 70px;
}
.main-profile{
    background-color: rgba(185, 218, 233);
}
.profil{
    float: right;
    background-color: rgb(185, 218, 233);
    margin: 0px 20px ;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Educatation */
.Menu-pendidikan{
    border: solid 2px rgb(185, 218, 233)
    width: 80%;
    margin: auto;
    text-align: center;
}
.riwayat-pendidikan{
    border: solid 2px rgb(185, 218, 233);
    background-color: rgb(185, 218, 233);
    margin-bottom: 50px;
    margin: auto;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 30%;
    text-align: center;
    
}
/* Hobby */
.hobiku{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.hobi{
    border: solid 2px rgb(185, 218, 233);
    background-color: rgb(185, 218, 233);
    margin: auto;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 30%;
    text-align: center;

}

}
.footer{
    width: 100%;
    background-color: rgb(185, 218, 233);
    margin-top: 200px;
}
.rahma{
    font-size: 13px;
    color: rgb(185, 218, 233);

}
button{
    cursor: pointer;
    color: rgb(185, 218, 233);
    background: rgb(185, 218, 233);
    width: 200px;
    height: 100px;
    border-radius: 5px;
    border: rgb(185, 218, 233)
    padding: 10px;
    font-size: 20px;
}
.button:hover{
    background: rgb(185, 218, 233);





